@import url(./reset.css);
:root {
  --BG-Alternative2: #f4f7fa;
  --StaticPalette-Marina-Marina600: #3892f3;
  --StaticPalette-Marina-Marina800: #0265dc;
  --StaticPalette-Marina-Marina900: #0054b6;
  --background--is-white: #ffffff;
  --Text-Icons-Elements-Primary: #0d0d15;
  --BG-Base-Invert: #0d0d15;
  --Text-Icons-Elements-Secondary2: #2a3541b2;
  --Elements-Accent-Link: #0265dc;
  --Elements-SeporatorBold: #1d36532b;
  --Text-Icons-Elements-Secondary2-Invert: #e7eef7a8;
  --FixedNeutralColor-PrimaryWhite: #f5f8fb;
  --Text-Icons-Elements-Primary-Invert: #f8f7ff;
  --Elements-Seporator: #294d7517;
  --CriticalityStatuses-Positive: #008f5d;
  --Text-Icons-Elements-Secondary: #2a3541d9;

  --spacing-large: 48px;
  --spacing-small: 8px;
  --padding-horizontal: 80px;
}

body {
  margin-inline: auto;
  max-width: 1440px;
}
/* --------------------------------------------------------------------Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1440px;
  padding: 24px 80px;
  background-color: var(--background--is-white);
  box-shadow: 0px 4px 40px 0px #1d395f05;
}
.header__logo__nav__box {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__list__item {
  list-style: none;
  padding: 6px 12px;
  margin-right: 8px;
}
.list__item__link {
  color: var(--Text-Icons-Elements-Primary, #0d0d15);
}

.header__actions {
  display: flex;
  align-items: center;
}

/* --------------------------------------------------------------------main */
.main {
  background-color: var(--background--is-white);
}
.padding-horizontal {
  padding: 0px var(--padding-horizontal);
}
.--is-flex {
  display: flex;
  gap: 24px;
}
/* ------------------------------------------------------------------------Promo */
.promo-section {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  padding: 47px 47px 40px 80px;
  margin-bottom: 120px;
  background: linear-gradient(90deg, #f0f6fd 44%, #ffffff 100%);
}
.promo-actions__box {
  width: 35%;
  display: flex;
  align-items: flex-start;

  gap: 32px;
  flex-direction: column;
}
.promo-buttons__box {
  display: flex;
  gap: 24px;
}
.promo-img__box {
  display: flex;
  width: 624px;
  height: 544px;
  position: relative;
}
.promo-img-one {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.promo-img-two {
  position: absolute;
  top: 49px;
  left: 317px;
}
.promo-img-three {
  position: absolute;
  top: 245px;
  left: 110px;
}
.promo-img-four {
  position: absolute;
  box-sizing: content-box;
  top: 446px;
  left: 30px;
  border: 12px solid var(--background--is-white);
  border-radius: 10px;
  box-shadow: 0px 4px 40px 0px #1d395f14;
}
.promo-img-five {
  position: absolute;
  box-sizing: content-box;
  top: 9px;
  left: 494px;
  border: 12px solid var(--background--is-white);
  border-radius: 10px;
  box-shadow: 0px 4px 40px 0px #1d395f14;
}
/* ---------------------------------------------------     --Products-section */
.products-section {
  display: flex;
  justify-content: center;
  padding: 0px 80px;
  gap: 32px;
  margin-bottom: 120px;
}
.products-section__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.products__img {
  box-sizing: content-box;
  border: 37px solid var(--BG-Alternative2, #f4f7fa);
  background-color: var(--BG-Alternative2);
  border-radius: 20px;
}
/* ------------------------------------------------------------Categories */
.categories-section {
  display: flex;

  margin-bottom: 120px;
  gap: 64px;
}

.categories-card__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, auto);
  padding: 0px 74px;
  gap: 20px;
}
.categories-card {
  width: 220px;
  height: 180px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background-color: var(--BG-Alternative2, #f4f7fa);

  border-radius: 20px;
}
/* .card--is-span {
  grid-row: span 1;
} */
.card__footer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.is--box {
  display: block;
  position: relative;
}
.is--box::before {
  position: absolute;
  content: "•";
  top: 0px;
  right: -10px;
}
.card__footer p:last-child::before {
  display: none;
}
.categories-card--is-small--is-top {
  width: 220px;
  height: 60px;
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(
    360deg,
    #f0f6fd 0%,
    rgba(255, 255, 255, 0) 189.17%
  );
}
.categories-card--is-small {
  width: 220px;
  height: 60px;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(
    360deg,
    #f0f6fd 0%,
    rgba(255, 255, 255, 0) 189.17%
  );
}
.card--is-blue {
  background-color: var(--StaticPalette-Marina-Marina800);
  color: var(--Text-Icons-Elements-Primary-Invert, #f8f7ff);
}
.categories-promo__box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}
/* ------------------------------------------------------------------Trending Section */
.trending-section {
  margin-bottom: 120px;
}
.trending__header-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.trending__header-box p {
  margin-bottom: 32px;
}
.trending__btn-box {
  height: 60px;
  display: flex;
  gap: 8px;
}
.swiper-wrapper {
  display: flex;

  gap: 16px;
  overflow: hidden;
}
.swiper-slide {
  position: relative;
  width: 305px;
  height: auto;
  transition: opacity 0.5s ease;
}

.trending-card__hover {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 115px;
  right: 0px;
  padding: 0px 16px;
  transition: visibility 0s, opacity 0.5s ease;
}

.swiper-slide:hover {
  opacity: 0.7;
}

.swiper-slide:hover .trending-card__hover {
  visibility: visible;
  opacity: 1;
}

.trending-card__header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  margin-bottom: 4px;
}
.trending-card__price {
  color: var(--StaticPalette-Marina-Marina800);
}
.trending-card__img {
  border-radius: 20px;
  margin-bottom: 16px;
}
.card-status {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px 20px;
  padding: 16px;
  background-color: var(--StaticPalette-Marina-Marina800);
}
.card-status span {
  white-space: nowrap;
  color: var(--background--is-white);
}
/* ----------------------------------------------------------Pricing Section */
.pricing-section {
  margin-bottom: 120px;
}
.pricing-header__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}
.card__header__box {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--Elements-Line, #1f324745);
}

.pricing-card__box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
}
.pricing-section__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 416px;
  box-shadow: 0px 4px 40px 0px #1d395f14;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 32px;
  transition: transform 0.5s ease, border 0.5s ease;
}
.pricind__card__price-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 16px;
}
.prising__card__list {
  margin-bottom: 40px;
}
.prising__card__item {
  margin-left: 32px;
  margin-bottom: 16px;
}
.prising__card__item p {
  position: relative;
}
.prising__card__item p::before {
  position: absolute;
  content: "";
  top: 4px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-image: url(./img/Icons/check--is-blue.svg);
}

.pricing-section__card:hover {
  border: 2px solid #0265dc;
  transform: translateY(-32px);
}

/* -----------------------------------------------------------------FAQ Section */
.faq-section {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-bottom: 120px;
}
.faq-section::after {
  position: absolute;
  content: "";
  width: 689px;
  height: 498px;
  top: 100px;
  left: 412px;

  background: radial-gradient(
    circle closest-side,
    rgba(15, 115, 246, 1),
    rgba(255, 255, 255, 0)
  );

  backdrop-filter: blur(300px);
  opacity: 0.2;

  z-index: 1;
}
.faq-section__header-box {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 40px;
  gap: 20px;
}
.faq-section__question_countainer {
  max-width: 620px;
  z-index: 1;
}

.faq__details__header-box {
  padding-bottom: 16px;
}

.faq__details {
  width: 620px;
  margin-bottom: 40px;
  border-radius: 10px;
  z-index: 1;
}

.faq__details summary {
  position: relative;
  padding: 24px 48px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.08);
  list-style: none;
  z-index: 1;
}

.faq__details__header-box {
  position: relative;
  width: 100%;
  z-index: 1;
}
.faq__details__header-box::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 13px;
  right: 0px;
  padding: 8px;
  transform: translateY(-50%);
  background-image: url(./img/Icons/chevron-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--Elements-SeporatorBold, rgba(29, 54, 83, 0.17));
  border-radius: 8px;
  cursor: pointer;
}
.faq__details summary::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 50%;
  right: 24px;
  padding: 8px;
  transform: translateY(-50%);
  background-image: url(./img/Icons/chevron-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--Elements-SeporatorBold, rgba(29, 54, 83, 0.17));
  border-radius: 8px;
  cursor: pointer;
}

.faq__details__content {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 24px;
}

.faq__details[open] .faq__details__content {
  display: block;
  margin-top: 24px;
  border: 2px solid var(--StaticPalette-Marina-Marina800, rgba(2, 101, 220, 1));
}

/* -------------------------------------------------------------Blog-section */
.blog-section {
  margin-bottom: 120px;
}
.blog-section__heder-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.blog-section__grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  grid-template-rows: repeat(2, auto); /* Две строки */
  gap: 32px; /* Расстояние между элементами */
}

.blog__card {
  position: relative;
}
.card-tag {
  display: flex;
  justify-content: center;
  position: absolute;
  min-width: 64px;
  top: 16px;
  right: 16px;
  padding: 10px;
  background-color: var(--StaticPalette-Marina-Marina800);
  border-radius: 100px;
}
.blog__card__link {
  display: block;
}
.card--large {
  grid-column: 1 / 2; /* Занимает первую колонку */
  grid-row: 1 / 3; /* Занимает две строки */
}

.card--medium:nth-of-type(2) {
  grid-column: 2 / 3; /* Занимает вторую колонку */
  grid-row: 1 / 2; /* Первая строка */
}

.card--medium:nth-of-type(3) {
  grid-column: 2 / 3; /* Занимает вторую колонку */
  grid-row: 2 / 3; /* Вторая строка */
}
.card__img-box img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.card__img-box {
  overflow: hidden;
  margin-bottom: 24px;
}

/* ---------------------------------------------------------------------------------------------------------------------Catalog Page */
.catalog__promo-box {
  max-width: 1442px;
  height: 288px;
  position: relative;
  padding: 64px 80px;
  background: linear-gradient(0.23deg, #ffffff 0.2%, #f0f6fd 99.8%);
  z-index: 1;
  overflow: hidden;
}

.catalog__promo-box::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(./img/Backgrounds/Rectangle\ 22.svg);
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: -1;
  

}

.catalog__container {
  padding: 0px 80px;
  margin-bottom: 120px;
}
.aside__section {
  margin-bottom: 40px;
}
.aside__section h4 {
  margin-bottom: 24px;
}
.aside__checkbox-box div {
  margin-bottom: 14px;
}
.card__container {
  display: flex;
  align-items: center;

  flex-direction: column;
}
.card-container__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  width: 100%;
}
.card-container__header__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.card-container__header__button-box {
  display: flex;
  
}
.card-container__header__nav select {
  min-width: 156px;
  border-radius: 8px;
  border: 1px solid var(--Elements-SeporatorBold, #1d36532b);
}
.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 48px;
  background: linear-gradient(0deg, rgb(255, 255, 255) -118.9%, #ffffff 93.08%);

  z-index: 1;
}
.button-box__list {
  display: flex;
}
.trending-card__footer-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.catalog-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-card__footer div {
  display: flex;
}
.catalog__card {
  position: relative;
  z-index: -1;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0px 0px 5px;
  transition: all 0.5s;
}
.catalog__card:hover {
  border: 1px solid var(--Elements-SeporatorBold, #1d36530c);
}

.catalog__card-tag {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 100px;
  padding: 8px 16px;
}
.bg-color--is-blue {
  background-color: var(--StaticPalette-Marina-Marina800, #0265dc);
}
.bg-color--is-green {
  background-color: var(--StaticPalette-Emerald-Emerald800, #007772);
}
.bg-color--is-white {
  background-color: var(--BG-Base, #ffffff);
}
/* ----------------------------------------------------------------------------------------------Blog Page------------ */
.blog__header-box {
  padding: 64px 80px 0px;
  margin-bottom: 48px;
  background: linear-gradient(
    180deg,
    #f0f6fd 0.2%,
    rgba(255, 255, 255, 0) 99.8%
  );
}
.blog__header-box a {
  margin-bottom: 24px;
}
.blog__header-box h1 {
  margin-bottom: 64px;
}
.blog__main-img-box {
  width: 100%;
  height: 405px;
  margin-bottom: 64px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.main-img {
  clip-path: polygon(0 0, 100% 0, 100% 56.67%, 0 56.67%);
  width: 100%;
  height: auto;
  object-fit: cover;
}
.blog__content-container {
  display: flex;
  margin-bottom: 120px;
}
.blog__aside {
  min-width: 260px;
  margin-right: 40px;
}
.blog__aside__author-box {
  display: flex;
  gap: 5px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--Text-Icons-Elements-Primary, #0d0d15);
}
.blog__aside__link-box {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--Text-Icons-Elements-Primary, #0d0d15);
}
.blog__aside__link-box h4 {
  margin-bottom: 24px;
}
.link-list__item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 8px;
}

.link-list__item a {
  position: relative;
  transition: transform 0.3s ease;
  display: inline-block;
}

.link-list__item a::before {
  position: absolute;
  content: "";
  top: 30%;
  left: -16px;
  width: 8px;
  height: 8px;
  background-image: url(./img/Blog-page__img/Ellipse.svg);
}

.link-list__item a:hover {
  transform: translateX(8px); /* Перемещаем ссылку вправо */
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--Text-Icons-Elements-Primary, #0d0d15);
}
.blog__aside__bar-box > div:first-of-type {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #22222226;
}
.blog__aside__bar-box h4 {
  margin-bottom: 24px;
}
.blog__aside__bar-box h5 {
  margin-bottom: 12px;
}

.blog__content-box p {
  margin-bottom: 32px;
}
.blog__content-box h4 {
  margin-bottom: 16px;
}

.--is-visible {
  display: block;
}
.blog__img-two-box:not(div) {
  width: 100%;
  height: 462px;
  margin-bottom: 64px;
  position: relative;
  border-radius: 20px;
}
.blog__img-two {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}
.blog__img-two-box div {
  display: flex;
  justify-content: space-between;
}
.blog__blockqote {
  position: relative;
  display: flex;

  margin-left: 80px;
}
.blog__blockqote svg {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -8px;
  left: -80px;
}
.blog__card-container {
  padding: 40px var(--padding-horizontal);
  background-color: #f0f6fd;
  margin-bottom: 120px;
}
.card-container__header {
  display: flex;
  justify-content: space-between;
}
.card-container__wraper {
  display: flex;
  gap: 24px;
}
.card--in-blog {
  width: 410px;
  background-color: var(--BG-Base, #ffffff);
  box-shadow: 0px 4px 30px 0px #d0d4d8dc;
  border-radius: 20px;
  padding: 20px;
}
.tag--on-bottom {
  width: min-content;

  left: 40px;
  top: 285px;
}

/* ----------------------------------------------------------------Footer */
.footer {
  margin-inline: auto;
  max-width: 1440px;
  background-color: var(--background--is-white);
}
.footer__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 64px 80px 72px 80px;
}
.footer__header {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 35px;
}
.footer__navigation {
  display: flex;
}
.footer__navigation-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
}
.footer__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 16px 64px 0px 0px;
}

.footer__navigation-box:last-child .footer__navigation-list {
  margin-right: 0;
}

.footer__navigation-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  margin-bottom: 8px;
}

.footer__social-subscribe {
  display: flex;
  justify-content: space-between;
  margin: 0px 80px 135px 80px;
}
.footer__social-list {
  display: flex;
}
.footer__social-item {
  border: 2px solid transparent;
}

.footer__subscribe {
  max-width: 680px;
  display: flex;
  align-items: center;
}
.footer__subscribe-form {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__subscribe-input {
  height: 64px;
}
.footer__terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
  color: var(--Text-Icons-Elements-Secondary2-Invert, #e7eef7a8);
  background-color: var(--BG-Base-Invert);
}
.footer__terms-link {
  color: var(--Text-Icons-Elements-Secondary2-Invert, #e7eef7a8);
}
.footer__terms-item {
  position: relative;
}

.footer__terms-item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -5px;
  top: 8px;
  width: 2px;
  height: 20px;
  background: var(--Text-Icons-Elements-Secondary2-Invert, #e7eef7a8);
}

/* ---------------------------------------------------------Inputs Style */
.base-input {
  border: 1px solid var(--Elements-SeporatorBold, #1d36532b);
  color: var(--BG-Base-Invert);
  border-radius: 8px;
  margin-right: 8px;
  padding: 0px 8px;
  outline: none;
}
.base-input::placeholder {
  color: var(--Text-Icons-Elements-Secondary2, #2a3541b2);
  border: none;
}
.base-input:hover {
  border: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}
.base-input:focus {
  border: 3px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}
.base-input:invalid:user-invalid {
  border: 1px solid var(--CriticalityStatuses-Negative, #ea3829);
}
/* .base-input:valid: user-valid{
  border:1px solid var(--CriticalityStatuses-Positive, #008F5D);
  } */
.base-input:disabled {
  background: var(--Elements-Seporator, #294d7517);
}
.header__input {
  min-width: 240px;
  height: 40px;
}
.footer__input {
  height: 64px;
  min-width: 240px;
}
/* -------------------------------------------------------------Checkbox-Style */

.aside__checkbox-box input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  top: 4px;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid var(--Elements-Line, #1f324745);
  border-radius: 4px;
  background-color: #ffff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 9px;
}

.aside__checkbox-box input[type="checkbox"]:hover {
  background: var(--BG-Alternative2, #f4f7fa);
}

.aside__checkbox-box input[type="checkbox"]:checked {
  background: var(--StaticPalette-Marina-Marina800, #0265dc);
  border: none;
  position: relative;
}
.aside__checkbox-box input[type="checkbox"]:disabled {
  background-color: var(--Elements-SeporatorBold, #1d36532b);
  border: none;
  position: relative;
  cursor: not-allowed;
}
.aside__checkbox-box input [type="checkbox"]:invalid {
  background: var(--StaticPalette-Marina-Marina800, #0265dc);
  border: 2px solid var(--CriticalityStatuses-Negative, #ea3829);
  position: relative;
}
.aside__checkbox-box input[type="checkbox"]:disabled::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 4px;
  background-image: url(./img/Icons/Mark.svg);
  background-repeat: no-repeat;
}

.aside__checkbox-box input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 4px;
  background-image: url(./img/Icons/Mark.svg);
  background-repeat: no-repeat;
}
/* ------------------------------------------------------------Radio Buttons Style */
.custom-radio {
  display: none;
}

.aside-castom_cheackbox-bol {
  position: relative;
  margin-left: 30px;
}

.aside-castom_cheackbox-bol::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: -2;
  left: -30px;
  border: 2px solid var(--Elements-Line, #1f324745);
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
  box-sizing: border-box;
  cursor: pointer;
}

.custom-radio:hover + .aside-castom_cheackbox-bol::before {
  background: var(--BG-Alternative2, #f4f7fa);
  border: 2px solid var(--Elements-Line, #1f324745);
}

.custom-radio:active + .aside-castom_cheackbox-bol::before {
  border: 5px solid var(--StaticPalette-Marina-Marina800, #0265dc);
}

.custom-radio:focus + .aside-castom_cheackbox-bol::before {
  outline: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}

.custom-radio:checked + .aside-castom_cheackbox-bol::before {
  border: 5px solid var(--StaticPalette-Marina-Marina800, #0265dc);
}

.custom-radio:invalid + .aside-castom_cheackbox-bol::before {
  border: 2px solid var(--CriticalityStatuses-Negative, #ea3829);
}
/* ----------------------------------------------------------------------------------Slider Style */
/* Контейнер для стиля переключателей */
.aside__checkbox-stile-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

/* Общий стиль для переключателей */
.style-slider {
  display: none;
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding-left: 50px;
  user-select: none;
}

/* Сам слайдер */
.switch .slider {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  background: var(--Text-Icons-Elements-Disabled, #22344966);
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Кнопка на слайдере */
.switch .slider::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Активное состояние (включено) */
.style-slider:checked + .switch .slider {
  background: var(--StaticPalette-Marina-Marina800, #0265dc);
}

.style-slider:checked + .switch .slider::after {
  transform: translateX(20px);
}

/* Hover состояние */
.switch:hover .slider {
  background: var(--Elements-Line, #1f324745);
}

/* Disabled состояние */
.style-slider:disabled {
  background-color: var(--Elements-SeporatorBold, #1d36532b);
  cursor: not-allowed;
}

.style-slider:disabled + .switch .slider {
  background: #d4d9f2;
}

/* Focus состояние */
.style-slider:focus + .switch .slider {
  border: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}

/* ------------------------------------------------------------Price-range */
.price-range {
  width: 80%;
  max-width: 215px;
  text-align: center;
  position: relative;
}

.slider-container {
  position: relative;
  width: 215px;
  height: 4px;
  background: var(--Elements-SeporatorBold, #1d36532b);
  border-radius: 5px;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  width: 100%;
  height: 4px;
  background: transparent;
  outline: none;
}

.range::-webkit-slider-runnable-track {
  height: 10px;
  background: transparent;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--StaticPalette-Marina-Marina800);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-top: -5px; /* Подняли ползунок на 5px */
}

#range-min {
  z-index: 1;
}

.range-track {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: var(--StaticPalette-Marina-Marina800);
  border-radius: 5px;
  z-index: 0;
}

.price-info {
  width: 225px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

#price-min,
#price-max {
  font-size: 16px;
  color: #222;
}

/* ------------------------------------------------------Buttons-Style */
.base-btn {
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  gap: 8px;
  margin-right: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;
}
.btn--is-oval {
  border-radius: 100px;
}
.btn--is-small {
  padding: 6px;
  width: min-content;
}
.btn--is-small-two {
  padding: 30px 18px;
}
.btn--is-small-three {
  padding: 8px 20px;
  min-width: 217px;
}
.btn--is-medium {
  width: min-content;
  padding: 18px 32px;
}
.btn--is-medium-two {
  padding: 16px;
  border-radius: 100px;
}
.--is-medium-three {
  padding: 0px 24px;
}

.btn--is-wise {
  padding: 18px 75px;
}
.btn--is-big {
  padding: 20px 40px;
}
.--is-onehundred {
  width: 100%;
}
.--is-invisible {
  visibility: hidden;
  opacity: 0;
}
.is-blue {
  background: var(--StaticPalette-Marina-Marina800, #0265dc);
  color: var(--FixedNeutralColor-PrimaryWhite, #f5f8fb);
  transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;
}
.is-blue:hover {
  background: var(--StaticPalette-Marina-Marina600, #3892f3);
  color: var(--FixedNeutralColor-PrimaryWhite, #f5f8fb);
}
.is-blue:focus {
  background: var(--StaticPalette-Marina-Marina800, #0265dc);
  border: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
  color: var(--FixedNeutralColor-PrimaryWhite, #f5f8fb);
}
.is-blue:active {
  background: var(--StaticPalette-Marina-Marina900, #0054b6);
  color: var(--FixedNeutralColor-PrimaryWhite, #f5f8fb);
}
.is-blue:disabled {
  color: var(--Text-Icons-Elements-Disabled, #22344966);
  background-color: var(--Elements-SeporatorBold, #1d36532b);
}
.btn--is-transparent {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: color 0.5s ease, border 0.5s ease;
  color: var(--Text-Icons-Elements-Primary, #0d0d15);
  background-color: var(--BG-Base, #ffffff);
}
.btn--is-transparent:hover {
  border: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
  background-color: var(--Elements-Seporator, #294d7517);
}
.btn--is-transparent:active {
  background-color: var(--Elements-Seporator, #294d7517);
}
.btn--is-transparent:focus {
  background-color: var(--Elements-Seporator, #294d7517);
  border: 4px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}
.btn--is-gray {
  border-color: var(--Elements-SeporatorBold, #1d36532b);
  transition: color 0.5s ease, border 0.5s ease;
}
.btn--is-gray:hover {
  background-color: var(--Elements-Seporator, #294d7517);
}
.btn--is-gray:active {
  background-color: var(--Elements-Seporator, #294d7517);
}
.btn--is-gray:focus {
  border: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}
/* -------------------------------------------------Linc Style */

.link-3 {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;
}
.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  margin-right: 8px;
  border: 2px solid var(--Elements-SeporatorBold, #1d36532b);
  border-radius: 8px;
  transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;
}
.footer__navigation-link {
  color: var(--Text-Icons-Elements-Secondary, #2a3541d9);
  border-bottom: 2px solid transparent;
  transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;
}
.footer__terms-link {
  transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;
}

.social-link:hover {
  border: 2px solid var(--StaticPalette-Marina-Marina600);
}
.social-link:active {
  background-color: var(--StaticPalette-Marina-Marina900);
}
.social-link:focus {
  background-color: var(--StaticPalette-Marina-Marina600);
  border: 2px solid var(--StaticPalette-Marina-Marina900);
}

.link--is-black:hover {
  color: var(--StaticPalette-Marina-Marina600, #3892f3);
}
.link--is-black:focus {
  color: var(--Elements-Accent-Link, #0265dc);
  border: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}
.link--is-black:active {
  color: var(--StaticPalette-Marina-Marina900, #0054b6);
  border: none;
}
.link--is-blue:hover {
  color: var(--StaticPalette-Marina-Marina800, #0265dc);
}
.link--is-blue:active {
  color: var(--StaticPalette-Marina-Marina900, #0054b6);
}
.link--is-blue:focus {
  color: var(--StaticPalette-Marina-Marina900, #0054b6);
}
.link--is-grey {
  border-bottom: 2px solid transparent;
}

.link--is-grey:hover {
  color: var(--StaticPalette-Marina-Marina600);
}
.link--is-grey:focus {
  color: var(--Elements-Accent-Link, #0265dc);
  border: 2px solid var(--StaticPalette-Marina-Marina600, #3892f3);
}
.link--is-grey:active {
  color: var(--StaticPalette-Marina-Marina900, #0054b6);
  border: none;
}

/* ------------------------------------------Fonts Style */
.text--is-blue {
  color: #0f73f6;
}
.text--is-dark-grey {
  color: #222222;
}
.text--is-grey {
  color: var(--Text-Icons-Elements-Secondary, #2a3541d9);
}
.text--is-white {
  color: var(--background--is-white);
}
.text--is-black {
  color: var(--Text-Icons-Elements-Primary, rgba(13, 13, 21, 1));
}
.header-h1 {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.header-h2 {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.header-h3 {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.header-h4 {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.header-h5 {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.body-text-p1-regular {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.body-text-p2-regular {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.body-text-p3-regular {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.body-text--p2-medium {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}
.link-text-one {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-text-two {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-text-three {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.subheader-S5 {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.bakbak-one-regular {
  font-family: "Bakbak One", serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
